03_mathe_recap_4up.pdf filter=lfs diff=lfs merge=lfs -text
3D-basics.pdf filter=lfs diff=lfs merge=lfs -text
3D[[:space:]]Game[[:space:]]Programming[[:space:]]All[[:space:]]in[[:space:]]One[[:space:]]-[[:space:]]3rd[[:space:]]Edition.pdf filter=lfs diff=lfs merge=lfs -text
3D_Game_Programming_With_C_Coriolis_Technology_Press_2000.iso filter=lfs diff=lfs merge=lfs -text
3d-mathematics.pdf filter=lfs diff=lfs merge=lfs -text
3D[[:space:]]Math[[:space:]]Primer[[:space:]]for[[:space:]]Graphics[[:space:]]and[[:space:]]Game[[:space:]]Development[[:space:]](2nd[[:space:]]Ed)(gnv64).pdf filter=lfs diff=lfs merge=lfs -text
3rdParty_v4.0.zip filter=lfs diff=lfs merge=lfs -text
3rdParty_Win8_VS2012_libs.zip filter=lfs diff=lfs merge=lfs -text
84rva.Black.Art.of.3D.Game.Programming.Writing.Your.Own.HighSpeed.3D.Polygon.Video.Games.in.C.pdf filter=lfs diff=lfs merge=lfs -text
AI[[:space:]]Techniques[[:space:]]for[[:space:]]Game[[:space:]]Programming.pdf filter=lfs diff=lfs merge=lfs -text
An_Introduction_to_Ray_Tracing.pdf filter=lfs diff=lfs merge=lfs -text
bachelor-1.pdf filter=lfs diff=lfs merge=lfs -text
Basic[[:space:]]and[[:space:]]Clinical[[:space:]]Pharmacology[[:space:]]Katzung[[:space:]]13E[[:space:]][Kaugip][[:space:]][United[[:space:]]VRG].pdf filter=lfs diff=lfs merge=lfs -text
basic[[:space:]]electronics[[:space:]]tutorials.pdf filter=lfs diff=lfs merge=lfs -text
basic_raycasting filter=lfs diff=lfs merge=lfs -text
Black_Art_of_3D_Game_Programming.iso filter=lfs diff=lfs merge=lfs -text
Blender[[:space:]]Game[[:space:]]Engine[[:space:]]Beginners[[:space:]]Guide filter=lfs diff=lfs merge=lfs -text
Blender[[:space:]]Game[[:space:]]Engine.pdf filter=lfs diff=lfs merge=lfs -text
Build[[:space:]]an[[:space:]]HTML5[[:space:]]Game[[:space:]]-[[:space:]]A[[:space:]]Developer's[[:space:]]Guide[[:space:]]with[[:space:]]CSS[[:space:]]and[[:space:]]JavaScript filter=lfs diff=lfs merge=lfs -text
Building[[:space:]]Machine[[:space:]]Learning[[:space:]]Systems[[:space:]]with[[:space:]]Python[[:space:]][Epub[[:space:]]&[[:space:]]PDF] filter=lfs diff=lfs merge=lfs -text
Chemistry-[[:space:]]A[[:space:]]Molecular[[:space:]]Approach,[[:space:]]3E[[:space:]][PDF]~StormRG~ filter=lfs diff=lfs merge=lfs -text
computergrafik.pdf filter=lfs diff=lfs merge=lfs -text
Computergrafik[[:space:]]SS[[:space:]]2014 filter=lfs diff=lfs merge=lfs -text
Computer[[:space:]]Graphics[[:space:]]-[[:space:]]Principles[[:space:]]and[[:space:]]Practice[[:space:]](3rd[[:space:]]Ed)(gnv64).pdf filter=lfs diff=lfs merge=lfs -text
C++[[:space:]]Programming[[:space:]]-[[:space:]]From[[:space:]]Problem[[:space:]]Analysis[[:space:]]To[[:space:]]Program[[:space:]]Design,[[:space:]]6th[[:space:]]Edition filter=lfs diff=lfs merge=lfs -text
C[[:space:]]Programming[[:space:]]Professional[[:space:]]-[[:space:]]For[[:space:]]Beginner's[[:space:]]{Zer07}.pdf filter=lfs diff=lfs merge=lfs -text
Designing[[:space:]]Games[[:space:]]by[[:space:]]Tynan[[:space:]]Sylvester(pradyutvam2).pdf filter=lfs diff=lfs merge=lfs -text
Diplom-Chisleag-2004-09-01.pdf filter=lfs diff=lfs merge=lfs -text
[Eberly_D.H.]3D[[:space:]]Game[[:space:]]Engine[[:space:]]Design.[[:space:]]A[[:space:]]Practical[[:space:]]Approach[[:space:]]to[[:space:]]Real-Time[[:space:]]Computer[[:space:]]Graphics(pdf){Zzzzz} filter=lfs diff=lfs merge=lfs -text
F.Dunn,[[:space:]]I.Parberry[[:space:]]-[[:space:]]3D[[:space:]]Math[[:space:]]Primer[[:space:]]for[[:space:]]Graphics[[:space:]]and[[:space:]]Game[[:space:]]Development.pdf filter=lfs diff=lfs merge=lfs -text
Fundamentals-of-Computer-Graphics--2-.pdf filter=lfs diff=lfs merge=lfs -text
Game-Coding-Complete-4th--1-.pdf filter=lfs diff=lfs merge=lfs -text
Game[[:space:]]Coding[[:space:]]Complete.pdf filter=lfs diff=lfs merge=lfs -text
Game[[:space:]]Development[[:space:]]with[[:space:]]Three.js[[:space:]][PDF]~StormRG~ filter=lfs diff=lfs merge=lfs -text
Game-Engine-Architecture.pdf filter=lfs diff=lfs merge=lfs -text
Game[[:space:]]Physics[[:space:]]Engine[[:space:]]Development[[:space:]]Source[[:space:]]Code.zip filter=lfs diff=lfs merge=lfs -text
Game[[:space:]]Physics[[:space:]]Engine[[:space:]]Development(The[[:space:]]Morgan[[:space:]]Kaufmann[[:space:]]Series[[:space:]]in[[:space:]]Interactive[[:space:]]3D[[:space:]]Technology)[Team[[:space:]]Nanban][TPB] filter=lfs diff=lfs merge=lfs -text
Game[[:space:]]Programming[[:space:]]Algorithms[[:space:]]and[[:space:]]TechniquesA[[:space:]]Platform[[:space:]]-[[:space:]]Agnostic[[:space:]]Approach filter=lfs diff=lfs merge=lfs -text
Getting[[:space:]]Started[[:space:]]with[[:space:]]C++[[:space:]]Audio[[:space:]]Programming[[:space:]]for[[:space:]]Game[[:space:]]Development[[:space:]]-[[:space:]]PDF+EPUB filter=lfs diff=lfs merge=lfs -text
Graphics[[:space:]]Programming[[:space:]]Black[[:space:]]Book.pdf filter=lfs diff=lfs merge=lfs -text
HowManyMillionBIOSWouldYouLikeToInfect_Full2.pdf filter=lfs diff=lfs merge=lfs -text
HTML5[[:space:]]Game[[:space:]]Development[[:space:]]Hotshot[[:space:]][PDF[[:space:]]][[:space:]][StormRG] filter=lfs diff=lfs merge=lfs -text
Introduction[[:space:]]to[[:space:]]3D[[:space:]]Game[[:space:]]Engine[[:space:]]Design[[:space:]]Using[[:space:]]DirectX[[:space:]]9[[:space:]]and[[:space:]]C# filter=lfs diff=lfs merge=lfs -text
Introductory[[:space:]]Chemistry[[:space:]]-[[:space:]]An[[:space:]]Active[[:space:]]Learning[[:space:]]Approach[[:space:]](4th[[:space:]]Ed) filter=lfs diff=lfs merge=lfs -text
It's[[:space:]]Behind[[:space:]]You[[:space:]]-[[:space:]]the[[:space:]]making[[:space:]]of[[:space:]]a[[:space:]]computer[[:space:]]game[[:space:]]by[[:space:]]Bob[[:space:]]Pape.pdf filter=lfs diff=lfs merge=lfs -text
[Kip[[:space:]]R.[[:space:]]Irvine]Assembly[[:space:]]Language[[:space:]]for[[:space:]]x86[[:space:]]Processors[[:space:]](7th[[:space:]]Edition)[[:space:]](pdf){Zzzzz} filter=lfs diff=lfs merge=lfs -text
Learn[[:space:]]C++[[:space:]]for[[:space:]]Game[[:space:]]Development[[:space:]](Apress,[[:space:]]2014) filter=lfs diff=lfs merge=lfs -text
Learning[[:space:]]C#[[:space:]]By[[:space:]]Programming[[:space:]]Games.PlentyofeBooks.net.rar filter=lfs diff=lfs merge=lfs -text
Learning_Modern_3D_Graphics_Programming.pdf filter=lfs diff=lfs merge=lfs -text
LEARNING[[:space:]]PYTHON[[:space:]][[:space:]]POWERFUL[[:space:]]OBJECT-ORIENTED[[:space:]]PROGRAMMING,[[:space:]]5TH[[:space:]]EDITION-OREILLY filter=lfs diff=lfs merge=lfs -text
Linux[[:space:]]Bible(8th[[:space:]]Edition) filter=lfs diff=lfs merge=lfs -text
Linux[[:space:]]Shell[[:space:]]Scripting[[:space:]]Cookbook[[:space:]]2nd[[:space:]]Ed[[:space:]](2013) filter=lfs diff=lfs merge=lfs -text
lodev.org filter=lfs diff=lfs merge=lfs -text
Mastering[[:space:]]Linux[[:space:]]by[[:space:]]Paul[[:space:]]S.[[:space:]]Wang[[:space:]]{Zer07}.pdf filter=lfs diff=lfs merge=lfs -text
Mathematics[[:space:]]for[[:space:]]3D[[:space:]]Game[[:space:]]Programming[[:space:]]and[[:space:]]Computer[[:space:]]Graphics,[[:space:]]Third[[:space:]]Edition.pdf filter=lfs diff=lfs merge=lfs -text
Math[[:space:]]in[[:space:]]Minutes[[:space:]]-[[:space:]]200[[:space:]]Key[[:space:]]Concepts[[:space:]]Explained[[:space:]]In[[:space:]]An[[:space:]]Instant[[:space:]]-Mantesh filter=lfs diff=lfs merge=lfs -text
McGugan[[:space:]]-[[:space:]]Beginning[[:space:]]Game[[:space:]]Development[[:space:]]with[[:space:]]Python[[:space:]]and[[:space:]]Pygame[[:space:]](Apress,[[:space:]]2007).pdf filter=lfs diff=lfs merge=lfs -text
Multiplayer[[:space:]]Game[[:space:]]Development[[:space:]]with[[:space:]]HTML5[[:space:]]by[[:space:]]Rodrigo[[:space:]]Silveira filter=lfs diff=lfs merge=lfs -text
Networking[[:space:]]-[[:space:]]Self[[:space:]]Teaching[[:space:]]Guide[[:space:]]-[[:space:]]James[[:space:]]Edwards filter=lfs diff=lfs merge=lfs -text
non-electronic filter=lfs diff=lfs merge=lfs -text
Objective-C[[:space:]]Programming-[[:space:]]The[[:space:]]Big[[:space:]]Nerd[[:space:]]Ranch[[:space:]]Guide,[[:space:]]2E[[:space:]]2013[[:space:]][Epub] filter=lfs diff=lfs merge=lfs -text
opengl_programming_guide_8th_edition.pdf filter=lfs diff=lfs merge=lfs -text
OpenGL_SuperBible__Comprehensive_Tutorial_and_Reference__5th_Edition.pdf filter=lfs diff=lfs merge=lfs -text
Palade_3dgrafik.pdf filter=lfs diff=lfs merge=lfs -text
Physics[[:space:]]for[[:space:]]Dummies filter=lfs diff=lfs merge=lfs -text
Practical[[:space:]]Reverse[[:space:]]Engineering[[:space:]]-[[:space:]]x86,[[:space:]]x64,[[:space:]]ARM,[[:space:]]Windows[[:space:]]Kernel,[[:space:]]Reversing[[:space:]]Tools,[[:space:]]and[[:space:]]Obfuscation[[:space:]][EPUB] filter=lfs diff=lfs merge=lfs -text
Premier[[:space:]]Press[[:space:]]-[[:space:]]Mathematics[[:space:]]for[[:space:]]Game[[:space:]]Developers[[:space:]][649[[:space:]]pages][[:space:]]-[[:space:]]2004[[:space:]]![[:space:]]-[[:space:]](By[[:space:]]Laxxuss).pdf filter=lfs diff=lfs merge=lfs -text
Programming[[:space:]]3D[[:space:]]Applications[[:space:]]with[[:space:]]HTML5[[:space:]]and[[:space:]]WebGL[[:space:]]-[[:space:]]O'Reilly[[:space:]](2014)[[:space:]]PDF[[:space:]]EPUB[[:space:]]-[[:space:]]GOLU filter=lfs diff=lfs merge=lfs -text
Pro[[:space:]]Python[[:space:]]System[[:space:]]Administration[[:space:]](2010).pdf filter=lfs diff=lfs merge=lfs -text
pygame-raycasting-experiment filter=lfs diff=lfs merge=lfs -text
racing-the-beam.pdf filter=lfs diff=lfs merge=lfs -text
[Ray_Kurzweil]_The_Singularity_Is_Near_When_Human.epub filter=lfs diff=lfs merge=lfs -text
sites.google.com filter=lfs diff=lfs merge=lfs -text
System[[:space:]]Programming[[:space:]]with[[:space:]]C[[:space:]]and[[:space:]]Unix[[:space:]][PDF] filter=lfs diff=lfs merge=lfs -text
The[[:space:]]Art[[:space:]]of[[:space:]]Game[[:space:]]Design[[:space:]]-[[:space:]]A[[:space:]]Book[[:space:]]of[[:space:]]Lenses,[[:space:]]Second[[:space:]]Edition.pdf filter=lfs diff=lfs merge=lfs -text
The[[:space:]]C++[[:space:]]Programming.Language.4th.Edition.Jun.2013[A4].pdf filter=lfs diff=lfs merge=lfs -text
The_Demo_Effects_Collection-0.7.2.tar.gz filter=lfs diff=lfs merge=lfs -text
The[[:space:]]Hacker's[[:space:]]Manual[[:space:]](2015).pdf filter=lfs diff=lfs merge=lfs -text
The[[:space:]]Hackers[[:space:]]Manual[[:space:]](2015)[[:space:]][Revised[[:space:]]Edition].pdf filter=lfs diff=lfs merge=lfs -text
Tricks_of_the_Game_Programming_Gurus_SAMS_Publishing_1994.iso filter=lfs diff=lfs merge=lfs -text
Understanding[[:space:]]Quaternions3D.pdf filter=lfs diff=lfs merge=lfs -text
Voigt_Ulrich_Mobile3D_Spieleprogrammierung.pdf filter=lfs diff=lfs merge=lfs -text
vox01.pdf filter=lfs diff=lfs merge=lfs -text
vox02.pdf filter=lfs diff=lfs merge=lfs -text
vox03.pdf filter=lfs diff=lfs merge=lfs -text
vox04.pdf filter=lfs diff=lfs merge=lfs -text
vox05.pdf filter=lfs diff=lfs merge=lfs -text
vox06.pdf filter=lfs diff=lfs merge=lfs -text
vox07.pdf filter=lfs diff=lfs merge=lfs -text
vox08.pdf filter=lfs diff=lfs merge=lfs -text
vox09.pdf filter=lfs diff=lfs merge=lfs -text
vox1 filter=lfs diff=lfs merge=lfs -text
vox10.pdf filter=lfs diff=lfs merge=lfs -text
vox13.pdf filter=lfs diff=lfs merge=lfs -text
vox16.pdf filter=lfs diff=lfs merge=lfs -text
vox18.pdf filter=lfs diff=lfs merge=lfs -text
vox19.pdf filter=lfs diff=lfs merge=lfs -text
zbd6k.Tricks.of.the.3D.Game.Programming.GurusAdvanced.3D.Graphics.and.Rasterization.by.Andre.LaMothe.pdf filter=lfs diff=lfs merge=lfs -text
zed3d.pdf filter=lfs diff=lfs merge=lfs -text
